.instructions {
    background-color: #101522;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 2em;
}
.instructions_text{
    color: #fff;
    text-align: center;
    font-size: 6em;
    margin-bottom: 0.9em;
}
.instruction_item {
    margin-bottom: 0.9em;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.instruction_item svg {
    height: 4em;
    width: 4em;
}
.instruction_item svg:nth-child(1) {
    color: lightblue;
} 
.instruction_item svg:nth-child(2) {
    color: lightyellow;
} 
.instruction_item svg:nth-child(3) {
    color: lightgreen;
} 
.instruction_item svg:nth-child(4) {
    color: lightpink;
} 
.t_text {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    word-wrap: break-word;
    font-size: 20px;
}
.t_text p {
    color: #fff;
    margin-top: 20px;
    font-size: 1.5em;
}
.t_text p:nth-child(1) {
    padding-left: 35px;
}
.t_text p:nth-child(2) {
    padding-left: 1px;
}
.t_text p:nth-child(3) {
    padding-right: 28px;
}
.arrow {
    display: flex;
    justify-content: center;
}
.arrow_icon {
    height: 10px;
    width: 100px;
    margin-right: 200px;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
  background-size: 20px 3px, 100% 3px;
  border: none;
}
.arrow_icon2 {
    height: 10px;
    width: 100px;
    margin-left: 230px;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
  background-size: 20px 3px, 100% 3px;
  border: none;
}