.User-details {
    margin-top: 70px;
    /* background-color: #f7f8fc; */
}
.my-wishlist::before{
    content: "";
}
.my-wishlist::after{
    display: block;
}
.my-wishlist1{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    gap: 25px;
    /* box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25); */
    padding: 40px 40px;
}
.avatar{
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 0.5em;
}
.avatar img {
    width: 10%;
    height: 10%;
}

.cell1 {
    /* border: 3px solid #4b59f7; */
    font-size: 1.5rem;
    border-radius: 15px;
    /* border: unset; */
    width: 18em;
    height: auto;
    padding : 0.5em 0.5em;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    /* background: radial-gradient(#f588d8, #c0a3e5); */
    /* color: #8888; */
}
.cell1:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.cell1-image {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
.cell1-image img {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 5px;
}
.buttons {
    margin-top: 2em;
    width: auto;
    text-align: center;
}
.del-icon {
    margin-top: 10px;
    text-align: center;
}
.del-iconn {
    margin-top: 10px;
    float: right;
}
.del-iconn>svg {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
}
.del-icon button{
    width: 7%;
    height: 7%;
    margin-right: 5px;   
    cursor: pointer; 
    border: none;
}
.cell1-id {
    margin-bottom: 5px;
}
.cell1-id p {
    color: #1c2237;
    /* padding-left: 25px; */
    margin-top: 5px;
    /* text-align: center; */
}
.cell1-id p:nth-child(1){
    margin-bottom: 5px;
}
.leftitems {
    text-align: left;
    font-weight: bold;
}
.rightitems{
    float: right;
}
.cell1-name {
    margin-bottom: 5px;
}
.cell1 button {
    display: block;
    float: right;
    margin-right: 20px;
    width: 7em;
    height: 3em;
    border-radius: 5px;
    background-color: #4b59f7;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.cell1 button:hover {
    background-color: #895cf2;
}
.btn12 {
    /* margin-bottom: 40px; */
    margin-left: 20px;
    /* width: 10rem;
    height: 3rem; */
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
    background-color: #1D1A54;
    transition: 0.5s;
    padding: 1em 3em;
    border-radius: 6px;
    font-weight: 600;
}
.btn12:hover {
    background-position: right center;
}
 
.main-body {
    display: flex;
    justify-content: center;
}
.admin-head {
    /* display: flex; */
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    color: #32325d;
    
}
.count{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.total1 {
    margin: 0 auto;
    font-size: 2.5em;
    text-align: center;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
    width: 8em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.total1 p{
    margin-top: 0.5em;
    font-size: 5rem;
}
.total {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
    width: 10em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.total p{
    margin-top: 0.5em;
    font-size: 5rem;
}
.admin-head {
    margin-top: 40px;
     display: grid;
     place-content: center;
     text-align: center;
     font-size: 70px;
     position: relative;
     font-family: 'Source Code Pro', monospace;
     position: relative;
  }
  .admin-head::before,
  .admin-head::after {
   content: ' ';
   position:absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left:38%;
  } 
  .admin-head::before {
    background: var(--bg-color);
    animation: typewriter 2s steps(10) forwards;
  }
  .admin-head::after{
    width: 0.125em;
    background: black;
    animation : typewriter 2s steps(10) forwards, blinks 750ms steps(10) infinite;
  }  
  @keyframes typewriter {
    to{
      left: 61%;
    }
  } 
  @keyframes blinks {
    to{
      background: transparent;
    }
  }
.cell2 {
    /* border: 3px solid #4b59f7; */
    font-size: 1.5rem;
    border-radius: 10px;
    height: auto;
    width: 18em;
    background-color: #fff;
    border-radius: 15px;
    /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.4em;
    padding-bottom: 1em;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.cell2:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.del-icon {
    margin-top: 10px;
    text-align: center;
}
.del-icon button{
    border-radius: 5px;
    background-color: #4b59f7;
    width: 7em;
    height: 3em;
    cursor: pointer; 
}
.del-icon > span {
    color: #fff;
}
.delsvg{
    width: 2em;
    height: 2em;
}
@media screen and (max-width : 988px) {
    .my-wishlist1 {
        justify-content: center;
        grid-template-columns: repeat(1, auto); 
    }
        .cell1 {
        width: 18em;
        height: 17em;
    }
    .cell1 p {
        font-size: 20px;
        font-weight: bold;
    }
    .cell1 button {
        width: 5.5em;
        height: 2.5em;
        margin-top: 1.5em;
    }
    .cell1-image img {
        width: 30%;
        height: 30%;
    }
}
@media screen and ((max-width : 1132px) and (min-width : 989px)) {
    .my-wishlist1 {
        margin-left: 2em;
        grid-template-columns: repeat(2, auto); 
    }
        .cell1 {
        width: 18em;
        height: 17em;
    }
    .cell1 p {
        font-size: 20px;
        font-weight: bold;
    }
    .cell1 button {
        width: 5.5em;
        height: 2.5em;
        margin-top: 1.5em;
    }
    .cell1-image img {
        width: 30%;
        height: 30%;
    }
}
@media screen and ((max-width : 1295px) and (min-width : 1133px)) {
    .my-wishlist1 {
        grid-template-columns: repeat(2, auto); 
        margin-left: 5em;
    }
    .cell1 {
        width: 18em;
        height: 17em;
    }
    .cell1 p {
        font-size: 20px;
        font-weight: bold;
    }
    .cell1 button {
        width: 5.5em;
        height: 2.5em;
        margin-top: 1.5em;
    }
    .cell1-image img {
        width: 30%;
        height: 30%;
    }
}
@media screen and ((max-width : 1430px) and (min-width : 1295px)) {
    .cell1 {
        width: 16em;
        height: 13.9em;
    }
    .cell1 p {
        font-size: 15px;
        font-weight: bold;
    }
    .cell1 button {
        width: 5.5em;
        height: 2.5em;
        margin-top: 1.5em;
    }
    .cell1-image img {
        width: 30%;
        height: 30%;
    }
}
@media screen and ((max-width : 1707px) and (min-width : 1431px)) {
    .cell1 {
        width: 18em;
        height: 19.5em;
    }
    .cell1 {
        width: 18em;
        height: 19.5em;
    }
    .cell1 p {
        font-size: 20px;
    }
    .cell1 button {
        width: 5.5em;
        height: 2.5em;
    }
}