.User-details {
    margin-top: 70px;
}
.my-wishlist1 {
    display: grid;
    grid-template-columns: repeat(5, auto); 
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 25px;
    /* box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25); */
    padding: 40px 40px;
}
.cell1 {
    /* border: 3px solid #4b59f7; */
    font-size: 1.5rem;
    border-radius: 5px;
    /* border: unset; */
    height: 3em;
    padding-left: 25px;
    padding-top: 25px;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}
.cell1 button {
    display: block;
    float: right;
    margin-right: 20px;
    width: 7em;
    height: 3em;
    border-radius: 5px;
    background-color: #4b59f7;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.cell1 button:hover {
    background-color: #895cf2;
}
.btn12 {
    /* margin-bottom: 40px; */
    margin-left: 20px;
    /* width: 10rem;
    height: 3rem; */
    background-size: 300% 300%;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
    transition: 0.5s;
    padding: 1em 3em;
    border-radius: 6px;
    font-weight: 600;
}
.btn12:hover {
    background-position: right center;
}
 
.books-issued {
    display: grid;
    grid-template-columns: repeat(4, auto); 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 14px;
}
.cell2 {
    border: 3px solid #4b59f7;
    font-size: 1.5rem;
    border-radius: 10px;
    height: 10em;
    padding-left: 10px;
    padding-top: 5px;
}