.main {
    height: 5vh;
    color: white;
    background-color: #101522;
    padding-top: 10px;
    margin-top: -7.5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
}
.ss{
    text-decoration: none;
    color: white;
}
.left-logo{
    float: left;
    width: 50%;
}
.nav-items{
    display: flex;
    float: right;
    /* width: 10%; */
}
.item {
    margin-left: 10px;
    margin-right: 10px;
    width: 3em;
    cursor: pointer;
}
#item-45{
    color: white;
    background-color: #4b59f7;
    font-size: 1.2rem;
    width: 90px;
    height: 35px;
    border-radius: 10px;
}
#item-5 {
    color: white;
    background-color: #4b59f7;
    font-size: 1.25rem;
    width: 120px;
    height: 35px;
    border-radius: 10px;
}