.main {
    height: 5vh;
    color: rgb(0, 66, 108);
    padding-top: 10px;
    margin-top: -7.5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
}
.left-logo{
    float: left;
    width: 50%;
}
.nav-items{
    display: flex;
    float: right;
    /* width: 10%; */
}
.item {
    margin-left: 10px;
    margin-right: 10px;
    width: 3em;
    cursor: pointer;
}