.main {
    height: 5vh;
    color: white;
    background-color: #101522;
    padding-top: 10px;
    margin-top: -7.5px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
    padding-top: 25px;
    padding-bottom: 18px;
    font-weight: 600;
    /* font-style: bold; */
    /* color: #0467FB; */
}
.ss{
    text-decoration: none;
    color: white;
}
.left-logo{
    float: left;
    width: 50%;
    cursor: pointer;
}
.left-logo > svg {
    margin-top: -3px;
    font-size: 1.1em;
    width: 1em;
    height: 1em;
}
.nav-items{
    display: flex;
    float: right;
    /* width: 10%; */
}
.item {
    margin-left: 20px;
    margin-right: 20px;
    width: 3em;
    cursor: pointer;
}
#item-1:hover {
    margin-bottom: -5px;
    border-bottom: 4px solid #4b59f7;
}
#item-3:hover {
    margin-bottom: -5px;
    border-bottom: 4px solid #4b59f7;
}
#item-4:hover {
    margin-bottom: -5px;
    border-bottom: 4px solid #4b59f7;
}
#item-45{
    color: white;
    background-color: #4b59f7;
    font-size: 1.25rem;
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 5px;
    margin-top: -17px;
    padding-top: 2px;
    text-align: center;
    /* padding-bottom: -10px; */
}
#item-45:hover {
    background-color: #0467FB;
}
#item-46{
    color: white;
    background-color: #4b59f7;
    font-size: 1.2rem;
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 5px;
    margin-top: -17px;
    padding-top: 2px;
    text-align: center;
}
#item-46:hover {
    background-color: #0467FB;
}
#item-5 {
    color: white;
    border: none;
    background-color: #4b59f7;
    font-size: 1.25rem;
    width: 5.5em;
    height: 2em;
    border-radius: 5px;
    margin-top: -17px;
    padding-top: 2px;
    text-align: center;
}
#item-5:hover {
    background-color: #0467FB;
}