.Login{
    /* position: absolute; */
    width: 30%;
    max-width: 800px;
    height: 35vh;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 100px auto;
    display: grid;
    border-radius: 5px;
    justify-content: center;
    top: 80px;
    margin-bottom: 20em;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.Login > form {
    background: white;
    display: inline-block;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding : 0 50px;
    padding-top: 40px;
    padding-bottom: 70px;
}
.Login > form input {
    /* margin-top: 2px; */
    width: 400px;
    padding: 16px 25px;
    margin: auto;
    display: block;
    border: unset;
    margin-bottom: 15px;
    border-radius: 4px;
    outline-color: #4b59f7;
    font-size: 1.4rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.alert {
    color: red;
    font-weight: bold;
    font-size: 1.05rem;
    margin-left: 5px;
    font-family:sans-serif;
}
.Login > form label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    /* color: gray; */
    font-size: 1.35rem;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* appearance: none;  */
    /* width: 2em; */
    /* background-image: url("https://img.icons8.com/ios/344/down-squared--v2.png"); */
 }
.Login > form select {
    display: flex;
    width: 460px;
    height: 2.2em;
    font-size: 1.2rem;
    border-radius: 5px;
    color: gray;
    padding-left: 5px;
}
.Login > form button {
    height: 2.2em;
    margin-top: 20px;
    width: 460px;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1D1A54;
    cursor: pointer;
    margin-bottom: 9px;
}
.Login > form button:hover {
    font-size: 1.41rem;
    background-color: #4b59f7;
}
.small {
    text-align: center;
}

@media screen and (max-width:407px) {
    .Login > form {
        width: 14em;
    }

    .Login > form > input {
        width: 175px;
        font-size: 0.8rem;
    }   
    .Login > form label {
        font-size: 1.15rem;
    }
    .Login > form select {
        width: 229px ;
    }
    .Login > form button {
        width: 229px ;
    }
    .small {
        font-size: 0.8rem;
        /* font-weight: 600; */
    }
}
@media screen and ((max-width:408px) and (min-width:460px)) {
    .Login > form {
        width: 17em;
    }

    .Login > form > input {
        width: 223px;
        font-size: 1rem;
    }   
    .Login > form label {
        font-size: 1.15rem;
    }
    .Login > form select {
        width: 273px ;
    }
    .Login > form button {
        width: 273px ;
    }
    .small {
        font-size: 1rem;
        /* font-weight: 600; */
    }
}
@media screen and ((min-width:464px) and (max-width:570px)) {

    .Login > form {
        width: 22em;
    }

    .Login > form > input {
        width: 298px;
    }   
    .Login > form label {
        font-size: 1.15rem;
    }
    .Login > form select {
        width: 349px ;
    }
    .Login > form button {
        width: 349px ;
    }
    .small {
        font-size: 1rem;
        /* font-weight: 600; */
    }
}