.Login{
    /* position: absolute; */
    padding: 20px;
    text-align: center;
    height: 50vh;
    margin-top: 80px;
    font-family: sans-serif;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.Login > form {
    background: white;
    display: inline-block;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding : 0 50px;
    padding-top: 40px;
    padding-bottom: 70px;
}
.Login > form > input {
    /* margin-top: 2px; */
    width: 400px;
    padding: 16px 25px;
    margin: auto;
    display: block;
    border: unset;
    margin-bottom: 15px;
    border-radius: 4px;
    outline-color: #4b59f7;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.Login > form label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 1.65rem;
}
.Login > form select {
    display: flex;
    width: 460px;
    height: 2.2em;
    font-size: 1.2rem;
    border-radius: 5px;
    color: gray;
}
.Login > form button {
    height: 2.2em;
    margin-top: 20px;
    width: 460px;
    font-size: 1.4rem;
    border-radius: 15px;
    color: white;
    background-color: #4b59f7;
}
.Login > form button:hover {
    font-size: 1.43rem;
}