.Signup{
    /* background-color:  #4b59f7; */
    /* color: white; */
    width: 30%;
    max-width: 800px;
    height: 50vh;
    padding-top: 20px;
    padding-bottom: 35px;
    margin: 130px auto;
    display: grid;
    border-radius: 5px;
    justify-content: center;
    top: 80px;
    font-family: sans-serif;
}
.heading-1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.Signup label {
    font-size: 1.5rem;
    /* padding-bottom: 4px; */
    margin-bottom: 3px;
}
.Signup input {
    margin-bottom: 15px;
    width: 20em;
    height: 2em;
    font-size: 1.2rem;
    border-radius: 10px;
}
.Signup input::placeholder{
    padding-left: 10px;
}
.Signup button {
    height: 2em;
    margin-top: 15px;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color:  #a1a9ff;
    color: white;
    border: none;
}

.foot
{

    display: grid;

    justify-content: center;

}